{% extends "::base.html.twig" %}
{% block body %}
 <h1>Ajouter un animal</h1>

 <form action="{{ path("tuto_animaux_ajouter") }}" method="post">
  {{ form_widget(form) }}

  <input type="submit">

 </form>
{% endblock %}