{% extends "::base.html.twig" %}
{% block body %}
 <h1>Editer un animal</h1>

 <form action="{{ path("tuto_animaux_editer", { id: id }) }}" method="post">
  {{ form_widget(form) }}

  <input type="submit">

 </form>
{% endblock %}